name: Android CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Gradle Build
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.7
          arguments: |
            :app:assembleDebug
            --stacktrace
            --info
            --warning-mode=all

      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: AI_Radar_APK
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Upload build logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-logs
          path: |
            app/build/reports/**
            app/build/outputs/logs/**
            **/build.gradle.kts
            **/settings.gradle.kts
            **/proguard-rules.pro
